/* Selector Section */
.selector_container {
  width: 100vw;
  display: flex;
}

/* Input Section */
.selector_input_container {
  margin: 10px;
}
.selector {
  padding: 5px 10px;
  margin-bottom: 5px;
  width: 350px;
}

.header_text {
  font-size: 20px;
  font-weight: 500;
}

.line_element {
  margin: 5px 0;
}
